@model List<RazorPagesPizza.Models.Pizza>
<table id="tabla" class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>

            <th scope="col">Stuffed Crust</th>

            <th scope="col">Gluten Free</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
       <tbody>
            @foreach (var pizza in Model)
            {   
                <tr>
                    <td>@pizza.Name</td>
                    <td>@($"{pizza.Price:C}")</td>
                    <td>@pizza.Size</td>

                    <td>@pizza.StuffedCrust</td>

                    <td>@(pizza.IsGlutenFree ? "Gluten Free" : "Not Gluten Free")</td>
                    <td>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@pizza.Id">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
</table>